name: test

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  MINIMUM_PYTHON_VERSION: "3.11"
  UV_VERSION: "0.8.13"

jobs:
  coverage:
    # This action runs tests for coverage collection and uploads them to codecov.io.
    # This requires the secret `CODECOV_TOKEN` be set as secret on GitHub, both for
    # Actions and Dependabot

    name: "${{ matrix.os }} / ${{ matrix.python-version }} / coverage"
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        os: [ubuntu]
        python-version:
          # remove the unused versions
          - "3.11"
          - "3.12"
          - "3.13"

    runs-on: ${{ matrix.os }}-latest
    env:
      OS: ${{ matrix.os }}-latest
      PYTHON: ${{ matrix.python-version }}
      CS_ACCESS_TOKEN: ${{ secrets.CS_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v5.0.0
        with:
          persist-credentials: false
          submodules: true

      - name: Set up uv
        uses: astral-sh/setup-uv@e1e6fe791067dce0dec13d733c5477f0f0cf6a5d
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: make install-dev

      - name: Run tests for coverage
        run: make test-w-coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          # directory: ./coverage
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          # flags: unittests
          # name: codecov-umbrella
          verbose: true
      - name: Install codescene coverage tool
        if: ${{ env.CS_ACCESS_TOKEN != '' }}
        run: curl https://downloads.codescene.io/enterprise/cli/install-cs-coverage-tool.sh | bash -s -- -y
      - name: Upload coverage data to CodeScene
        if: ${{ env.CS_ACCESS_TOKEN != '' }}
        run: cs-coverage upload --format "lcov" --metric "line-coverage" coverage.lcov
        env:
          CS_ACCESS_TOKEN: ${{ secrets.CS_ACCESS_TOKEN }}

  minimal:
    # This action chooses the oldest version of the dependencies permitted by Cargo.toml to ensure
    # that this crate is compatible with the minimal version that this crate and its dependencies
    # require. This will pickup issues where this create relies on functionality that was introduced
    # later than the actual version specified (e.g., when we choose just a major version, but a
    # method was added after this version).
    #

    runs-on: ubuntu-latest
    name: ubuntu / 3.11/ minimal-versions
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v5.0.0
        with:
          persist-credentials: false
          submodules: true

      - name: Set up uv
        uses: astral-sh/setup-uv@e1e6fe791067dce0dec13d733c5477f0f0cf6a5d
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Set up Python ${{ env.MINIMUM_PYTHON_VERSION }}
        id: setup-python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.MINIMUM_PYTHON_VERSION }}

      - name: install lowest direct dependencies
        run: uv sync --resolution lowest-direct --all-extras --all-packages --dev

      - name: make test
        run: make test

  test-example:
    runs-on: ubuntu-latest
    name: ubuntu / 3.11 / test-example / ${{ matrix.example }}
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        example:
          - small
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v5.0.0
        with:
          persist-credentials: false
          submodules: true

      - name: Set up the python ${{ env.MINIMUM_PYTHON_VERSION }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        id: setup-python
        with:
          python-version: ${{ env.MINIMUM_PYTHON_VERSION }}

      #----------------------------------------------
      #  -----  setup uv and load cache   -----
      #----------------------------------------------
      - name: Set up uv
        uses: astral-sh/setup-uv@e1e6fe791067dce0dec13d733c5477f0f0cf6a5d
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true

      - name: Install dependencies
        run: make install-dev

      - name: Cache of sparv
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache-sparv
        with:
          path: |
            ~/.local/
            examples/small/export/
          key: ${{ runner.os }}-${{ steps.setup-python.outputs.python-version}}-sparv

      - name: sparv setup
        run: echo "" | .venv/bin/sparv setup

      - name: install hunpos
        if: steps.cache-sparv.outputs.cache-hit != 'true'
        run: |
          curl https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/hunpos/hunpos-1.0-linux.tgz --output hunpos.tgz
          tar -zxvf hunpos.tgz
          mkdir -pv ~/.local/share/sparv/bin
          cp -v hunpos-1.0-linux/hunpos-tag ~/.local/share/sparv/bin

      - name: install saldowsd
        if: steps.cache-sparv.outputs.cache-hit != 'true'
        run: |
          mkdir -pv ~/.local/share/sparv/bin/wsd
          cp -v assets/ci/saldowsd.jar ~/.local/share/sparv/bin/wsd

      - name: run example ${{ matrix.example }}
        run: make test-example-${{ matrix.example }}

  # https://github.com/marketplace/actions/alls-green#why used for branch protection checks
  test-check:
    if: always()
    needs:
      - coverage
      - minimal
      - test-example
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
